@model IEnumerable<DemoDB2.Models.FEEDBACK>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách phản hồi</h1>
    @*<p class="mb-4">
        @Html.ActionLink("Tạo phản hồi mới", "Create")
    </p>*@

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin phản hồi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Họ Tên</th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                            <th>Địa Chỉ</th>
                            <th>Nội Dung</th>
                            <th>Ngày Gửi</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Họ Tên</th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                            <th>Địa Chỉ</th>
                            <th>Nội Dung</th>
                            <th>Ngày Gửi</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user_email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user_phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user_address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.feedback_conten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.feedback_created)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
@section Scripts{
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/loginassets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/loginassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/loginassets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/loginassets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/loginassets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/loginassets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/loginassets/js/demo/datatables-demo.js"></script>
}
