@model IEnumerable<DemoDB2.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách sản phẩm</h1>
    <p class="mb-4">
        @Html.ActionLink("Tạo sản phẩm mới", "Create")
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin sản phẩm</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Giảm Giá</th>
                            <th>Tình Trạng</th>
                            <th>Số Lượng</th>
                            <th>VAT</th>
                            <th>Mô Tả</th>
                            @*<th>DS Hình Ảnh</th>*@
                            <th>Hình Ảnh</th>
                            <th>Giá Bán</th>
                            <th>Giá Nhập</th>
                            <th>Tên DM</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Giảm Giá</th>
                            <th>Tình Trạng</th>
                            <th>Số Lượng</th>
                            <th>VAT</th>
                            <th>Mô Tả</th>
                            @*<th>DS Hình Ảnh</th>*@
                            <th>Hình Ảnh</th>
                            <th>Giá Bán</th>
                            <th>Giá Nhập</th>
                            <th>Tên DM</th>
                            <th>Chức Năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.discount)
                            </td>
                            <td>
                                @{
                                    if (item.product_status == 1)
                                    {
                                        <p>Còn Hàng</p>
                                    }
                                    else if (item.product_status == 2)
                                    {
                                        <p>Hết Hàng</p>
                                    }
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.image_list)
                            </td>*@
                            <td>
                                <img src="@Url.Content(item.image_link)" alt="" height="50" width="50">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price_out)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price_in)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CATALOG.catalog_name)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.product_id }) |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.product_id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.product_id })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
@section Scripts{
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/loginassets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/loginassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/loginassets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/loginassets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/loginassets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/loginassets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/loginassets/js/demo/datatables-demo.js"></script>

    <script src="~/Scripts/script.js"></script>
}
