@model DoGiaDung.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thay Đổi Mật Khẩu</title>
</head>
<body>
    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
    {
            @Html.AntiForgeryToken()
            <section id="aa-myaccount">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-myaccount-area">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="aa-myaccount-login">
                                            <h2>Quên mật khẩu</h2>
                                            <hr />
                                            <form action="/User/LoginAcc" class="aa-login-form" method="post">
                                                <label for="">Mật khẩu mới<span>*</span></label><br />
                                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "input100" } })
                                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                               <br /> <label for="">Nhập lại mật khẩu<span>*</span></label><br />
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input100" } })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                <hr /><div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10"></div>
                                                    <div class="input100">
                                                        @Html.HiddenFor(a => a.ResetCode)
                                                    </div>
                                                    <input type="submit" value="Lấy lại mật khẩu" class="btn btn-danger" />
                                                </div>
                                                @ViewBag.Message
                                                <div class="aa-register-now">
                                                    <a href="/User/RegisterUser">Đăng ký tài khoản!</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    }
</body>
</html>

